*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

/* variable-collection-mode-1.css */

:root {
	--color-gray-500: rgb(107 107 107);
	--color-gray-950: rgb(17 17 17);
	--color-white: rgb(255 255 255);
	--color-yellow: rgb(244 208 78);
	--font-size-text-preset-1: 24px;
	--font-size-text-preset-2: 16px;
	--font-size-text-preset-3: 14px;
	--spacing-100: 8px;
	--spacing-150: 12px;
	--spacing-200: 24px;
	--spacing-50: 4px;
}
body{
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: "Figtree", sans serif;
    font-size: var(--font-size-text-preset-2);
    background-color: var(--color-yellow);
}

.container{
	width: 384px;
	background-color: var(--color-white);
	padding: var(--spacing-200);
	border: 1px solid var(--color-gray-950, #111);
	border-radius: 20px;
	box-shadow: 8px 8px 0px 0px #000;
	
}

h3{
	padding: 4px 12px;
	background-color: var(--color-yellow);
	width: 100px;
	border-radius: 4px;
	font-weight: 800;
}

.Dates{
	padding: 12px 0 12px 0;
	font-weight: 500;
	color: var(--color-gray-950);
}

h1{
	font-weight: 900;
	font-size: var(--font-size-text-preset-1);
	padding: 0 0 12px 0;
	color: var(--color-gray-950);
}
h1:hover{
	color: var(--color-yellow);
	cursor: pointer;
}

.Paragraph{
	font-size: var(--font-size-text-preset-2);
	padding: 0 0 24px 0;
	font-weight: 500;
	color: var(--color-gray-500);
}

 .Artiste{
	display: block;
	width: 100%;
	overflow: hidden;
	border-radius: 20px;
	margin-bottom: var(--spacing-200);
}
.Avatar{
	display: flex;
	flex-direction: row;
	align-items: center;
	gap: var(--spacing-150);
}
.Avatar__image{
	height: 32px;
	width: 32px;
	border-radius: 32px;
}
h4{
	font-weight: 900;
}
.attribution {
	margin-top: 20px;
	font-size: 12px;
	text-align: center;
}


